.HeaderContainer{
    display: flex;
    height: 4rem;
    border-bottom: 1.75px solid #a5a7aa;
    transform : rotate(0.04deg); 
    
    .HeaderBox{
        display: flex;
        margin: auto;
        width: 1280px;
        height: 80%;
        .LogoLink{
            width: 10rem;
            height: 100%;
            .LogoImage{
                width: 100%;
                height: 100%;
            }
        }

        .MenuBox{
            display: flex;
            width: 30%;
            height: 100%;
            margin-left: 10%;
            margin-right: 10%;
            font-weight: 600;
            font-size: 1rem;

            .SelectedMenu{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 5rem;
                height: 100%;
                margin-left: 2%;
                text-decoration: none;
                color: blue;
                cursor: pointer;
            }
            .Menu{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 5rem;
                height: 100%;
                margin-left: 2%;
                text-decoration: none;
                color: black;
                cursor: pointer;
                &:hover{
                    color:blue
                }
            }
        }

        .SearchBarBox{
            display: flex;
            margin: auto;
            margin-left: auto;
            border-radius: 1em;
            border: 2px solid #575756;
            width: 20%;
            height: 60%;

            .SearchIcon{
                margin: auto;
                width: 7%;
                height: 80%;
            }
            .SearchInput{
                margin: auto;
                width: 80%;
                height: 80%;
                border: none;
                outline: none;
                &:focus{
                    outline: none;
                }
            }
        }
        
        .ButtonBox{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 30%;
            height: 90%;
            margin-left: auto;
            color:black;
            font-weight: bold;
            font-size: 1.12rem;
            
            .GithubLink{
                width: 15%;
                height: 90%;
                text-decoration: none;
                margin-left: auto;
                color: black; 
                .GithubIcon{
                    border-radius: 50%;
                    cursor: pointer;
                    width: 100%;
                    height: 100%;
                    &:hover{
                        background-color: #E8ECEF;
                    }
                }
            }
            
            .LoginButton{
                display: flex;
                justify-content: center;
                width: 30%;
                color:black;
                text-decoration: none;
            }
            .SignUpButton{
                display: flex;
                justify-content: center;
                width: 30%;
                color:black;
                text-decoration: none;
            }
            .MyProfile{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 13%;
                height: 90%;
                background-color: #C2185B;
                color: white; 
                font-size: 90%;
                font-weight: 400;
                border-radius: 50%;
                cursor: pointer;
                text-decoration: none;
                margin-left: 2%;
                margin-right: 1%;
            }
        }

    }
}