.NoticeCreateCotainer{
    width: 1080px;
    height: auto;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 1%;
    // transform : rotate(0.04deg); 
    font-family : 'gulim', 'gothic';

    .h1{
        margin: 0;
        margin-bottom: 3%;
    }
    .p{
        margin-bottom: 1%;
    }

    .NoticeCreateTitle{
        width: 98.5%;
        height: 2.25rem;
        border: solid 0.15rem;
        border-radius: 0.375rem;
        border-color: hsla(220,9%,46%,.3);
        padding-left: 1%;
        font-size: 1rem;
        &:focus{
            border-color: #0090F9;
            outline: none;
        }
    }
    .NoticeCreateTag{
        width: 98.5%;
        height: 2.25rem;
        border: solid 0.15rem;
        border-radius: 0.375rem;
        border-color: hsla(220,9%,46%,.3);
        padding-left: 1%;
        font-size: 1rem;
        &:focus{
            border-color: #0090F9;
            outline: none;
        }
    }
    .NoticeContentBox{
        margin-bottom: 1rem;
        height: auto;
    }
    .FileUploadBox{
        margin-bottom: 1rem;
        width: 100%;
        height: auto;
        .FileUpload{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0.25rem;
            width: 6rem;
            height: 2.5rem;
            border-radius: 0.375rem;
            background-color: #0090F9;
            color: white;
            cursor: pointer;
            &:hover{
                background-color: #0B7FD3;
            }
        }
        .FileItemBox{
            display: flex;
            align-items: center;
            width: 100%;
            height: 3rem;
            margin-top: 0.5rem;
            .FileItem{
                display: flex;
                align-items: center;
                border: 0.1rem solid rgb(120, 117, 117);
                border-radius: 5rem;
                margin-right: 1rem;
                height: 80%;

                .FileName{
                    display: flex;
                    align-items: center;
                    white-space: nowrap;
                    padding-left: 1rem;
                    font-size: 1rem;
                    height: 80%;
                }

                .FileDelete{
                    display: flex;
                    align-items: center;
                    width: 1.5rem;
                    height: 1.5rem;
                    margin-left: 1rem;
                    margin-right: 0.5rem;
                    cursor: pointer;
                    color: gray;
                }
            }
        }
        
    
    }
    
    .NoticeCreateButtons{
        display: flex;
        align-items: center;
        width: 100%;
        height: 3rem;
        .NoticeCancel{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 5rem;
            height: 70%;
            margin-left: auto;
            border-radius: 0.5rem;
            border: 1px solid #c7c9ce;
            cursor: pointer;
            &:hover{
                background-color: #f1f3f6;
            }
        }
        .NoticeSave{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 5rem;
            height: 70%;
            margin-left: 1rem;
            border-radius: 0.5rem;
            border: 1px solid #0090F9;
            color: white;
            background-color: #0090F9;
            cursor: pointer;
            &:hover{
                background-color: #0B7FD3;
            }
        }
    }
}