.NoticeItemContainer{
    width: 98%;
    height: 12vh;
    // 추후에 변경(width, height)
    margin: auto;
    padding: 1%;
    border-top: 0.1rem solid #D2D4D9;
    text-decoration: none;
    color: black;
    cursor: pointer;
    &:hover{
        background-color: #eff1f4;
    }
    .WriterBox{
        display: flex;
        align-items: center;
        width: 100%;
        height: 25%;
        .Profile{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 25px;
            height: 25px;
            background-color: #C2185B;
            color: white; 
            font-size: 60%;
            font-weight: 500;
            border-radius: 50%;
            cursor: pointer;
            text-decoration: none;
        }
        .Writer{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 8%;
            height: 100%;
            font-weight: bold;
        }
    }
    
    .Title{
        display: flex;
        align-items: center;
        width: 100%;
        height: 50%;
        font-weight: bold;
        font-size: large;
    }
    .DetailBox{
        display: flex;
        align-items: center;
        width: 100%;
        height: 25%;
        font-weight: 500;
        margin-left: auto;
        color: #374151;
        .EyeIcon{
            margin-left: auto;
        }
        .WatchCnt{
            margin-left: 1%;
            margin-right: 2%;
        }
        .Comment{
            margin-left: 1%;
            margin-right: 2%;
        }
        .Time{
            display: flex;
            justify-content: center;
        }
    }
}