* {
    font-family: 'Raleway', sans-serif;
}
.CommentItemBox{
    width: 100%;
    margin: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 0.1rem solid #D2D4D9;
    transform : rotate(0.04deg); 
    .CommentItemHeader{
        display: flex;
        align-items: center;
        width: 100%;
        height: 2.5rem;
        .CommentItemProfile{
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 0.65rem;
            color: white;
            width: 1.5rem;
            height: 1.5rem;
            border-radius: 50%;
            background-color: #0090F9;
        }
        .CommentItemWriter{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 0.5rem;
        }
    }

    .CommentItemContents{
        width: 100%;
        height: auto;
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: 1rem;
    }

    .CommentTime{
        color: #a9a9ac;
        font-size: 0.9rem;
    }
}